<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />

    <title>Example Student's HCDE 439 Physical Computing Page!</title>

    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Esther Cui's HCDE 439 Physical Computing Page!</h1>

    <div class="header">
      <img src="profile.png" />
      <p>
        Hello, my name is Esther Cui! I'm a senior double majoring in HCDE and Japanese.
        I am excited to learn more about physical computing and creating new projects!
      </p>
    </div>

    <div class="grid">
      <div class="assignment">
        <a href="a1.html">
          <h2>Assignment 1: Blink!</h2>
          <img src="profile.png" />
        </a>
        <p>This is for Assignment 1!</p>
      </div>

      <div class="assignment">
        <a href="a2.html">
          <h2>Assignment 2: Fade!</h2>
          <img src="profile.png" />
        </a>
        <p>This is for Assignment 2!</p>
      </div>

      <div class="assignment">
        <a href="a2.html">
          <h2>Assignment 2: Fade!</h2>
          <img src="profile.png" />
        </a>
        <p>This is for Assignment 3!</p>
      </div>
    </div>
  </body>
</html>
